.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.home-content {
    text-align: center;
    max-width: 600px;
}

.home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #3afa36;
}
.home p{
    font-size: 1.2rem;
    color: #3afa36;
    margin-bottom: 2rem;
}
.popular-stocks {
    margin-top: 3rem;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
}
.popular-stocks h3 {
    margin-bottom: 10px;
}